- content_for :head do
  = javascript_include_tag "/plugin_assets/siteninja_events/javascripts/admin_events_form.js"
= error_messages_for "event"
-if @controller.action_name == 'edit' && @cms_config['features']['event_registration']
  %p
    = icon "Plus", new_admin_event_event_price_option_path(@event)
    = link_to "Add a new price option for this event", new_admin_event_event_price_option_path(@event)
%table{ :cellspacing => "0" }
  %tr{ :class => "form-option #{cycle('even', 'odd')}" }
    %td.big
      = f.label :name
    %td
      = f.text_field :name, :class => "big", :size => 50, :value => @property.formatted_address if @event.name.blank?
  %tr{:class => "form-option #{cycle('even', 'odd')} top"}
    %td
      = f.label :date_and_time, "Start date/time"
    %td
      =f.datetime_select :date_and_time, :include_blank=>false, :ignore_date=>false, :minute_step => 15, :twelve_hour => true
  %tr.top
    %td
      = f.label :end_date_and_time, "End date/time"
    %td
      = f.datetime_select :end_date_and_time, :include_blank=>false, :ignore_date=>false, :minute_step => 15, :twelve_hour => true

%h2= f.label :blurb, "Description"
= f.text_area :blurb, :size => "80x10"

%br
= f.submit
