- content_for :meta_title do
  Property Types
%h1= large_icon('Home') + ' ' + yield(:meta_title).strip

%div.box
  .float-right= render :partial => "/shared/search"
  %span.hmenu
    = icon "Plus", new_admin_property_type_path
    = link_to "Add a Property Type", new_admin_property_type_path
  = clear
  
%table.full-width
  %tr
    %th Location
    %th Options
  - for property_type in @property_types
    %tr{ :class => cycle('odd','even') }
      %td= link_to(property_type.title, edit_admin_property_type_path(property_type))
      %td
        = icon "Write", edit_admin_property_type_path(property_type)
        = trash_icon(property_type, admin_property_type_path(property_type), "#{property_type.title}")