- form_for [:admin, @region] do |f|
  %fieldset
    %dl
      %dt.form-label= f.label :title
      %dd.form-option= f.text_field :title, :size => "44" 
      %dt.form-label= f.label :description
      %dd.form-option= f.text_area :description, :size => "85x35", :class => "mceEditor"
    = f.submit