%h1= @region.title
= @region.description
-for status in ["Active", "Pending", "Sold"]
  %h2= status
  =render :partial => "properties/property_list", :locals => {:region => @region, :properties => instance_variable_get("@#{status.downcase}_properties")}
      
- content_for :head do
  %style{:type => "text/css"}
    ul.list-of-properties { margin: 0; padding: 0; }
    ul.list-of-properties li { list-style: none; display: block; margin: 0 0 10px 0; line-height: 1.4em; }
    

= render :partial => "pages/sidebar"
- content_for :head do
  = stylesheet_link_tag "/plugin_assets/justguideme/stylesheets/property_styles.css"
